@media screen and (min-width: 992px) {
  .card-container {
    width: calc(33.33% - 40px * 2);
    margin: 40px 20px;
  }
  .container {
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }
  .bref {
    width: 40%;
  }
  .infos {
    width: 80%;
    padding: 0;
    justify-content: center;
  }
  .travaux {
    max-height: 35rem;
    width: 80%;
  }
  .text {
    width: 70%;
    padding: 20px;
  }
  .text p {
    font-size: 20px;
    margin: 15px;
  }
  .text p span {
    font-size: 25px;
  }
  /* Partie responsive web Alex */
  .imgprofil {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 180%;
    margin: 0;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, 0.2);
  }
  article {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .container-img {
    width: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  span {
    font-size: 2rem;
    color: #008681;
  }
  .textapropos {
    font-family: "Forum", cursive;
    justify-content: center;
    margin: 10px;
    text-align: justify;
    width: 90%;
    font-size: 25px;
  }
  form {
    padding: 10px;
    width: auto;
    margin: 40px;
    border: 2px groove black;
    border-radius: 15px;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, 0.2);
  }
  input,
  textarea {
    display: flex;
    border-radius: 12px;
    border: none;
    padding-left: 6px;
    margin: 15px auto 15px auto;
    width: 700px;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, 0.2);
    background-color: #f1f8f9;
    font-family: "Forum", cursive;
    font-size: 19px;
    color: #003a38;
  }
  input {
    height: 50px;
  }
  textarea {
    height: 90px;
    padding-top: 4px;
  }
  button {
    display: flex;
    justify-content: end;
    border: 0, 5px solid;
    border-radius: 12px;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, 0.2);
    background-color: #f1f8f9;
    height: 35px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 7px;
    font-family: "Forum", cursive;
    margin-left: auto;
    margin-right: auto;
  }
}
