
@import url('https://fonts.googleapis.com/css?family=Forum|Luckiest+Guy&display=swap');

body {
  display: flex;
}

.container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

}
.card-container{
    border: solid 1px grey;
    border-radius: 5px;
    width: 32%;
    max-height: 45%;
    margin: 5px;
    
}
.card-img{
    background-size: cover;
    border-radius: 5px;
    width: 100%;

}

/*     Titre    */

h1 {
  background-color: #20b5af ;
  font-family: 'Luckiest Guy';
  color: white;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  border: 1px solid #006B67;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 100%
}

/*  Date et Auteur */

.infos {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
  font-family: 'Forum';
  border: 1px solid #006B67;
  border-radius: 4px;
  padding: 5px;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

/*   Photo   */

img {
  width: 100%;
  margin: 5% 0,
}

  /*   Article   */

  .text {
    width: 95%;
    padding: 0.5rem;
    border: 1px solid #006b67;
    border-radius: 0 20px 20px 20px ;
    box-shadow: 10px 10px 5px #006B67;
    font-family: 'Forum';
    font-size: 20px;
    margin-top: 2%;
  }

  span {
    font-weight: bold;
  }