:root{
  /*modifs emeric*/
  /*--background-color:rgb(255, 237, 200);*/
  --background-color:ghostwhite;
  --text-color :rgb(30,30,30);
  --navbar-bg-color : #4c71d8ea;
  --theme-txt-button: rgb(30,30,30);
  --theme-bg-circle-button: ghostwhite;
  --theme-bg-button: #4c71d8ea;
  --theme-border-button:rgb(222, 238, 240);
  
}
[data-theme="dark"]{
  --background-color:rgb(66, 66, 66);
  --text-color :ghostwhite;
  --navbar-bg-color: #0e1797;
  --theme-txt-button: ghostwhite ;
  --theme-bg-circle-button:  rgb(255, 255, 86);
  --theme-bg-button: rgb(66, 66, 66);
  --theme-border-button:yellow;
}
@media screen and (min-width: 992px) {
  .card-container {
    width: calc(50% - 40px * 2);
    margin: 40px 20px;
  }
  .nav{
    height: 8vh;
    background: var(--navbar-bg-color);
  }
  .linkName{
    display: none;
  }
  .linkNameOpen{
    display: block;
  }
  .nav-links{
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 0 auto;
    width: 100%;
  }
  .nav-links li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
  }
  .card-container {
    width: calc(33.33% - 40px * 2);
    margin: 40px 20px;
  }
  .container,
  .infos {
    width: 80%;
  }
  .container {
    margin: auto;
    justify-content: space-between;
  }
  .bref {
    width: 55%;
    font-size: 2.5rem;
  }
  .infos {
    padding: 0;
    justify-content: center;
  }
  .travaux {
    height: auto;
    width: 60%;
    border-radius: 70px;
    margin: 3% 0;
  }
  .text {
    width: 70%;
    padding: 20px;
  }
  .text p {
    font-size: 20px;
    margin: 15px;
  }
  .text p span {
    font-size: 25px;
  }
  /* Partie responsive web Alex */
  .imgprofil {
    width: 300px;
    height: 300px;
  }
  article {
    margin-bottom: 40px;
  }
  .container-img {
    width: auto;
  }
  span {
    font-size: 2rem;
  }
  .textapropos {
    text-align: center;
  }
}
/* Progress bar */
#myProgress {
  height: 15px;
  width: 100%;
}
#myBar {
  height: 15px;
}
