@media screen and (min-width: 768px) {
  .card-container {
    width: calc(50% - 40px * 2);
    margin: 40px 20px;
  }
  .container {
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }
  .bref {
    width: 90%;
    font-size: 2rem;

  }
  .infos {
    width: 90%;
    padding: 0;
  }
  .travaux {
    height: auto;
    width: 90%;
    border-radius: 5px ;
  }
  .text {
    width: 90%;
  }
  /* Partie responsive tablette Alex */
  .imgprofil {
    width: 250px;
    height: 250px;
  }
  span {
    font-size: 25px;
  }
  .textapropos {
    font-size: 20px;
  }
  form {
    width: 50%;
  }
  input,
  textarea {
    font-size: 18px;
  }
  input {
    height: 40px;
  }
  textarea {
    height: 80px;
  }
  button {
    border: 0, 5px solid;
    height: 35px;
  }
}
